<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="vm_Clone.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="VmosoBKW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="vm_Clone.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
   <section name="VmosoBKW.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<log4net>
		<root>
			<level value="ALL" />
			<appender-ref ref="Console" />
			<appender-ref ref="File" />
		</root>
		<appender name="Console" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %level %logger - %message%newline" />
			</layout>
		</appender>
		<appender name="File" type="log4net.Appender.RollingFileAppender">
			<file type="log4net.Util.PatternString" value="%property{FilePath}" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="5" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %logger - %message%newline" />
			</layout>
		</appender>
	</log4net>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<userSettings>
		<vm_Clone.Properties.Settings>
   <setting name="VmosoUsername" serializeAs="String">
    <value />
   </setting>
   <setting name="VmosoPassword" serializeAs="String">
    <value />
   </setting>
   <setting name="VmosoHost" serializeAs="String">
    <value>https://www.vmoso.com</value>
   </setting>
   <setting name="VmosoCid" serializeAs="String">
    <value>CID-ebe77e0f-923a-4a75-b419-13242b8d1bbd</value>
   </setting>
   <setting name="RememberMe" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Language" serializeAs="String">
    <value>EN</value>
   </setting>
  </vm_Clone.Properties.Settings>
  <VmosoBKW.Properties.Settings>
			<setting name="VmosoUserName" serializeAs="String">
				<value />
			</setting>
			<setting name="VmosoPassword" serializeAs="String">
				<value />
			</setting>
			<setting name="VmosoHost" serializeAs="String">
				<value>https://www.vmoso.com</value>
			</setting>
			<setting name="VmosoCid" serializeAs="String">
				<value>CID-ebe77e0f-923a-4a75-b419-13242b8d1bbd</value>
			</setting>
			<setting name="RememberMe" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="Language" serializeAs="String">
				<value>en</value>
			</setting>
			<setting name="ProxyHost" serializeAs="String">
				<value />
			</setting>
			<setting name="ProxyUser" serializeAs="String">
				<value />
			</setting>
			<setting name="ProxyPassword" serializeAs="String">
				<value />
			</setting>
			<setting name="UseProxy" serializeAs="String">
				<value>False</value>
			</setting>
		</VmosoBKW.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<vm_Clone.Properties.Settings>
   <setting name="EmailLink" serializeAs="String">
    <value>{0}: {1}&lt;{2}@{3}&gt;</value>
   </setting>
   <setting name="ReferenceLink" serializeAs="String">
    <value>&lt;a href='{0}'&gt;{1}{2}&lt;/a&gt;</value>
   </setting>
   <setting name="CachedFilesPerType" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="EditorUserLink" serializeAs="String">
    <value>&lt;a class="mention_cke" data-ownerkey="{0}" data-tag="{1}" data-type="@" href="{2}" title="{3}"&gt;{4}&lt;/a&gt;</value>
   </setting>
   <setting name="EditorCommentLink" serializeAs="String">
    <value>&lt;a class="rmevtag_cke" data-cid="{0}" data-listkey="{1}" data-ownerkey="{2}" data-parentkey="{3}" data-pid="{4}" data-tag="{5}" data-type="#" href="{6}" title="{7}"&gt;{8}&lt;/a&gt;</value>
   </setting>
  </vm_Clone.Properties.Settings>
  <VmosoBKW.Properties.Settings>
			<setting name="EmailLink" serializeAs="String">
				<value>{0}: {1}&lt;{2}@{3}&gt;</value>
			</setting>
			<setting name="ReferenceLink" serializeAs="String">
				<value>&lt;a href='{0}'&gt;{1}{2}&lt;/a&gt;</value>
			</setting>
			<setting name="CachedFilesPerType" serializeAs="String">
				<value>5</value>
			</setting>
			<setting name="EditorUserLink" serializeAs="String">
				<value>&lt;a class="mention_cke" data-ownerkey="{0}" data-tag="{1}" data-type="@" href="{2}" title="{3}"&gt;{4}&lt;/a&gt;</value>
			</setting>
			<setting name="EditorCommentLink" serializeAs="String">
				<value>&lt;a class="rmevtag_cke" data-cid="{0}" data-listkey="{1}" data-ownerkey="{2}" data-parentkey="{3}" data-pid="{4}" data-tag="{5}" data-type="#" href="{6}" title="{7}"&gt;{8}&lt;/a&gt;</value>
			</setting>
		</VmosoBKW.Properties.Settings>
	</applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
